/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: linear-gradient(rgba(51,77,80 , 0.6), rgba(203, 202, 165, 0.6));
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform span{
	float:left;
	color:#ff0000;
	font-size:10px;
	top:0;
}
/*buttons 27AE60*/
#msform .action-button {
	width: 100px;
	background: #D84815;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #D84815;
}
#msform .a {
	width: 150px;
	background: white;
	font-weight: bold;
	color: gray;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .a:hover, #msform .a:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px gray;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green   27AE60  1d2728*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #D84815;
	color: white;
}
#header {
	background-color: #1d2728;
	color: #D84815 ;
	font-size: 25px;
	font-family: montserrat;
	position: relative;
	}
	#header  {

	height:90px;
	width:auto;
	clear:both;
	}
	.logo img{
	margin-left: auto;
	margin-right: auto;
	vertical-align: text-bottom;

	}	
    .logo { padding:7px 0px 0px 0px;
     position:absolute;
     cursor: pointer;
     margin-left: 3vw;}
     #logo{
	cursor: pointer;
}

.headernav{
    right:0;
    bottom: 0;
    position: absolute;

}

.headernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px;

    
}


.headernav li a {
    display: block;
    color: #D84815;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headernav li a:hover {
    background-color: #111;
}



.headernav li {
    float: right;
}

.headernav #activepage {
    color: darkorange;
}
/*Login*/

.login-card {

  padding: 40px;
  width: 274px;
  background-color:rgba(247, 247, 247, 0.5);
  margin: 6vw auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;

}
.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #D84815;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
box-shadow: 0 0 0 2px white, 0 0 0 3px #D84815;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.8;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
  color: #0a0a0a;
}
#loginForm span{
	float:left;
	color:#ff0000;
	font-size:12px;
	top:0;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.about{
	background-color: rgba(255, 255, 255, 0.5);
	color: #000000 ;
	font-family: montserrat;
	position: relative;
	height: 20vw;
	padding: 40px 0px 0px 60px;
}
.aboutinfo{
	float: left;
	width:65%;
}
.aboutfacts{
	float: right;
	width: 29%;
    border-left: thick solid darkgray ; 
    padding: 0px 0px 0px 10px;
}
.aboutfacts h3 {
	color: #D84815;
	padding-bottom: 14px;
}
.aboutfacts b{
	font-size: 13px;

}
.companyheading{
	padding-left: 60px;
}
.mindfire{
	
	padding-right: 100px;

}
#logoutButton{
   float:right; 
   padding-right:14px; 
   padding-top:8px;
   opacity:0.9;
   font-size:15px;

}
#logoutButton:hover {
    opacity:1;
}
#logoutButton span {
    bottom:0;
    margin-right:3px;
}
#addQuestions{
	background-color: rgba(255, 255, 255, 0.5);
	color: #000000 ;
	font-family: montserrat;
	position: relative;
	width:90%;
	margin:auto;
	margin-top: 2.5vw;
	padding: 40px 0px 0px 60px;
	height:18vw;
}
.buttons-pdf{
    border: 2px solid #d84815;
    padding: 4px 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
	
}